.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.formulario {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.buscar-formulario {
  margin-bottom: 40px;
}

.p-field {
  margin-bottom: 20px;
}

.p-text-center {
  text-align: center;
}

.text-danger {
  color: red;
}

.usuario-encontrado {
  width: 400px;
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.usuario-encontrado h3 {
  margin-top: 0;
  text-align: center;
}
