.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* Color de fondo */
  }

  .formulario {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .p-field {
    margin-bottom: 20px;
  }

  .p-text-center {
    text-align: center;
  }

  .text-danger {
    color: red;
  }